@import url('https://fonts.googleaps.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    scroll-behavior: smooth;
}
body
{
    background: #111;
}
section
{
    position: relative;
    padding: 100px;

}
.header
{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000000;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;

}
.header .logo
{
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;

}
.header .toggle img
{
    max-width: 40px;
    cursor: pointer;
}
.banner
{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner:before
{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 400px;
    z-index: 1;
    background: linear-gradient(to top, #111, transparent);
}
.banner .content
{
    position: relative;
    max-width: 900px;
    text-align: center;
    z-index: 1;
}
.banner .content h2
{
    color: #fff;
    font-size: 5em;
}
.banner .content p
{
    color: #fff;
    font-size: 1.2em;
    margin-block-end: 50px;
}
.btn
{
    position: relative;
    display: inline-block;
    margin-top: 30px;
    padding: 10px 30px;
    background: #fff;
    color: 333;
    text-decoration: none;
}
.fitBg
{
    position: absolute;
    top: 0;
    left: 0%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
}
.fitBg1
{
    position: absolute;
    top: 0;
    left: 0%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.3;
}
.about 
{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about .contentBx
{
    min-width: 50%;
    width: 50%;
    text-align: end;
    padding-right: 40px;
}
.pepe
{
margin-top: 3px;}
.titleText
{
    font-weight: 600;
    color: #fff;
    font-size: 2em;
    margin-bottom: 10px;
}
.text
{
    color: #fff;
    font-size: 1em;
}
.about .imgBx
{
    position: relative;
    min-width: 50%;
    width: 50%;
    min-height: 500px;
}
.banner3
{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner3::before
{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 400px;
    z-index: 1;
    background: linear-gradient(to top, #111, transparent);
}
.banner3::after
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 400px;
    z-index: 1;
    background: linear-gradient(to bottom, rgba(17, 17, 17, 0.589), transparent);
}

.footer
{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 10000000;
}
.footer .sci
{
    position: relative;
    display: flex;
}
.footer .sci li
{
    list-style: none;
}
.footer .sci li a
{
    text-decoration: none;
    margin: 0 20px;
}
.footer .sci li a img
{
    filter: invert(1);
    max-width: 40px;
}
.copyrightText
{
    margin-top: 20px;
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    color: #666;
    text-align: center;
}
.copyrightText a
{
    color: #fff;
    text-decoration: none;

}
.banermobile
{
    visibility: hidden;
}

@media ( max-width:767px )
{
    section
    {
        position: relative;
        padding: 40px;    
    }
    .banner .content h2
    {
        font-size: 2.8em !important;
    }
    .banner .content h2
    {
        font-size: 1em;
    }
    .about
    {
        flex-direction: column;
    }
    .about .contentBx,
    .about .imgBx
    {
        min-width: 100%;
        width: 100%;
        text-align: center;
        padding-right: 0px;       
        
    }
    .about .imgBx
    {
        min-width: 250px;  
        min-height: 250px;      
        display: none;
    }
    .btn
    {
        margin-bottom: 30px;
    }
    .footer .sci li a img
    {
        filter: invert(1);
        max-width: 30px;
    }
    .banermobile
    {
        visibility: visible;
        object-position: left;
    }
    .about .contentBx .text
    {
        text-align: left;
    }
    .banner2::before
    {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100px;
        z-index: 1;
        background: linear-gradient(to bottom, rgb(17, 17, 17), transparent);
        }
    .banner2::after
    {
           content: '';
            position: absolute;
            bottom: 0;
            left: 0;
             width: 100%;
            height: 200px;
            z-index: 1;
            background: linear-gradient(to top, #111, transparent);
    }

}

.wrap {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10000;
  }
  
.wrap
    .a {
    min-width: 300px;
    min-height: 60px;
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: #313133;
    background: #4FD1C5;
  background: linear-gradient(90deg, rgba(129,230,217,1) 0%, rgba(79,209,197,1) 100%);
    border: none;
    border-radius: 1000px;
    box-shadow: 12px 12px 24px rgba(79,209,197,.64);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
    text-align: center;
    z-index: 1000000;
    }
  
    .wrap   a::before {
  content: '';
    border-radius: 1000px;
    min-width: calc(300px + 12px);
    min-height: calc(60px + 12px);
    border: 6px solid #00FFCB;
    box-shadow: 0 0 60px rgba(0,255,203,.64);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
  }
  
.wrap 
    .a:hover, .a:focus {
    color: #313133;
    transform: translateY(-6px);
  }
  
  .wrap  a:hover::before, a:focus::before {
    opacity: 1;
  }
  
  .wrap  a::after {
    content: '';
    width: 30px; height: 30px;
    border-radius: 100%;
    border: 6px solid #00FFCB;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
  }
  
  .wrap  a:hover::after, a:focus::after {
    animation: none;
    display: none;
  }
  
  @keyframes ring {
    0% {
      width: 30px;
      height: 30px;
      opacity: 1;
    }
    100% {
      width: 300px;
      height: 300px;
      opacity: 0;
    }
  }